

<!-- <div ng-show="game.gameRef.turn == game.player && game.gameRef.turn != 0">Your Turn</div>
<div ng-show="game.gameRef.turn != game.player && game.gameRef.turn != 0">Oponent Turn</div> -->

<div ng-show="game.player == 1 && game.gameRef.turn == 0">Oponent should  accept and start the game</div>
<div ng-show="game.player == 2 && game.gameRef.turn == 0">
  You should  accept and start the game

  <div>
    Your number:
    <br />
    <input type="number" ng-model="acceptGame.number" maxlength="4" ng-keyup="checkNewGameNumberInput('acceptGame')" />
  </div>

  <div ng-show="acceptGame.isNumberValid">
    <button class="btn btn-primary btn-lg" ng-click="acceptNewGame(game, acceptGame)">Start Game</button>
  </div>
</div>

<div ng-show="game.gameRef.status == 2">
  <h1 ng-show="game.gameRef.winner == game.player" class="text-center">You WIN!</h1>
  <h1 ng-show="game.gameRef.winner == game.oponent" class="text-center">You LOSE!</h1>
</div>

<div ng-show="game.gameRef.status >= 1">
  <!-- Game block here-->
  <div class="row full-height">
    <div class="col-sm-4 col-lg-3">
      
      <div class="player">
        <div class="avatar pull-left">
          <img src="{{ user.avatar }}" class="img img-circle center-block">
        </div>
        <div class="details pull-left">
          <p><strong>{{ user.name }}</strong></p>
          <p>{{ user.badge }}, Level {{ user.level }}</p>    
        </div>

        <div class="clearfix"></div>
        <h3>Your Attempts</h3>
      </div>
  
      <div class="table-attempts">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Number</th>
              <th class="text-center">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="attempt in game.gameRef.players[game.player].attempts" ng-hide="$index == 0">
              <td>{{ $index }}</td>
              <td>{{ attempt.number }}</td>
              <td>{{ attempt.result.bulls }}B {{ attempt.result.cows }}C </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row input-attempt">
        <form ng-submit="checkNumber(game, checkNumberInput)">
          <div class="input-group">
            <input type="text" ng-model="checkNumberInput" class="form-control" placeholder="Guess the number" 
              ng-disabled="game.gameRef.turn != game.player && game.gameRef.turn != 0">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"
                ng-disabled="game.gameRef.turn != game.player && game.gameRef.turn != 0">Check</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
    <div class="col-sm-1 col-lg-2 hidden-xs">
      
    </div>
    <div class="col-sm-4 col-lg-3">
      <div class="player">
        <div class="avatar pull-left">
          <img src="{{ game.gameRef.players[game.oponent].avatar }}" class="img img-circle center-block">
        </div>
        <div class="details pull-left">
          <p><strong>{{ game.gameRef.players[game.oponent].name }}</strong></p>
          <p>{{ game.gameRef.players[game.oponent].badge }}, Level {{ game.gameRef.players[game.oponent].level }}</p>
        </div>

        <div class="clearfix"></div>
        <h3>Oponent Attempts</h3>
      </div>

        <div class="table-attempts">

        <table class="table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Number</th>
              <th class="text-center">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="attempt in game.gameRef.players[game.oponent].attempts" ng-hide="$index == 0">
              <td>{{ $index }}</td>
              <td>{{ attempt.number }}</td>
              <td>{{ attempt.result.bulls }}B {{ attempt.result.cows }}C </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-sm-3 col-lg-4 chat">
      <h3 class="text-center">Chat</h3>

      <div class="messages">
        <ul>
          <li><strong>system:</strong> Still not implemented"</li>
        </ul>
      </div>

      <div class="row input-chat">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Spam here...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Send</button>
          </span>
        </div><!-- /input-group -->
      </div>

    </div>
  </div>

</div>
