$max-attempts-height: 450px;
$player-height: 150px;

$max-chat-height: 564px; /* $max-attempts-height + $player-height - 56 */

$color-green: #93c54b;


/*==========  Mixins  ==========*/

@function calculateRem($size) {
  $remSize: $size / 10px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}


/*==========  Main Styles  ==========*/

html,body { 
  min-height: 100%; 
  margin: 0px; 
  padding: 0px; 
}

body {
  background: url('../images/footer.png') center bottom no-repeat;
  background-size: contain;
  padding-bottom: 160px;
}

.header {
  background: url('../images/header.png') center top no-repeat;
  background-size: contain;  
  position: absolute;
  width: 100%;
  height: 544px;
  display: none;
}

.navbar-brand {
  margin-left: 0;
}

#main-container {

  height: 100%;
  position: relative;

  padding-top: 100px;
}

.full-height {
  /* height: 100%; */
}

.inner-padding {
  padding: 15px;
}

/*==========  Forms Styles  ==========*/

.form-margin {
  margin-top: 5px;
}

.form-error {
  background-color: #d9534f;
  border-color: transparent;
  color: #ffffff; 
  padding: 15px;
}

.form-input-number,
.form-input-user, {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  text-align: center;
}

.hr-separator {
  display: table;
  white-space: nowrap;
  margin: 20px auto 15px auto;
  text-transform: uppercase;
  @include font-size(11px);
  &:before, &:after {
    border-top: 1px solid #dddddd;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before { right: 1.5%; }
  &:after { left: 1.5%; }
}

/*==========  Custom Components Styles  ==========*/

.player-mini-box {
  padding: 5px 10px 5px 5px;
  margin: 5px 8px;
  position: relative;
  float: left;
  @include border-radius(5px);
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    background: #fcfff3;
    border: 1px solid $color-green;
  }

  &.selected {
    background: #fefff8;
    border: 1px solid $color-green; 
  }

  img {
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
  }
  p {
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    float: left;
  }
}

.icon-animal {
  width: 64px;
  height: 64px;
  background: url('../images/icon-animals.png');
  display: block;
  position: relative;

  &.icon-animal-bull {
    background-position-x: 0px;
  }
  &.icon-animal-cow {
    background-position-x: -64px;
  }

  &.icon-animal-green {
    background-position-y: 0px;
  }
  &.icon-animal-yellow {
    background-position-y: -64px;
  }
  &.icon-animal-red {
    background-position-y: -128px;
  }
  &.icon-animal-transparent {
    background-position-y: -192px;
  }
}

/*==========  Login Styles  ==========*/

.panel-login {
  margin-top: 30px;
}

/*==========  Game Styles  ==========*/

.player {
  height: $player-height;
  .avatar img {
    max-width: 64px;
  }

  .details {
    padding: 15px;
  }

  .details p {
    margin: 0px;
  }

  .attemption {
    position: relative;
    clear: both;

    span {
      @include scale(0.6);
      margin-left: -15px;

      float: left;
      @include border-radius(100px);
    }
  }
}

.big-divider {
  background: #EFECEC;
  border-bottom: 3px solid #D4CECE;
  width: 100%;
  height: 8px;
  margin: 50px auto;
}

.table-attempts {
  height: $max-attempts-height;
  overflow-y: auto;
}

.input-attempt {
  padding: 30px 20px 0 20px;
}

.panel-chat {

  .messages {
    height: $max-chat-height;
    max-height: $max-chat-height;
    overflow-y: auto;
  }

  ul {
    padding: 0;
    @include font-size(12px);
    li {
      list-style: none;
    }
  }

  .input-chat {
    padding: 30px 20px 0 20px;
  }
}

.panel-new-game {
  width: 50%;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  $max-attempts-height: 200px;
  $player-height: 120px;

  $max-chat-height: 200px; /* $max-attempts-height + $player-height - 56 */

  .player {
    height: $player-height;
  }

  .table-attempts {
    height: $max-attempts-height;
    overflow-y: auto;
  }

  .panel-chat .messages {
    max-height: $max-chat-height;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

  body {
    padding-bottom: 100px;
  }

  /*==========  Game Styles  ==========*/

  .panel-new-game {
    width: 95%;
  }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}








/* when hiding the picture */
.animate-ng.ng-hide-add         { animation:0.5s bounceOut ease; }

/* when showing the picture */
.animate-ng.ng-hide-remove      { animation:0.5s bounceIn ease; }
